.*/
draft.py
draft.csv
draft.ipynb
embeds/
images/
projs/
*.zip
big_10file_ts01/
big_10file_ps01/
metadata.csv
AudioCLIP/
teste.py
teste.wav
__pycache__/
Cacophony/
muscall/
0ld_metadata.csv
0ld_visualization.csv
metadata.ipynb
test.py
teste.wav
tracks copy.json
vis.ipynb
big_10file_ps01.zip
big_10file_ts01.zip